<!-- Table -->
<table class="table table-striped table-bordered table-dark text-center">
    <thead>
        <th>PI</th>
        <th>User Story</th>
        <th>Status</th>
        <th>Stories Sprint Ready</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Story 1</td>
            <td>At-Risk</td>
            <td>45 / 86</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Story 2</td>
            <td>On-Track</td>
            <td>45 / 86</td>
        </tr>
    </tbody>
</table>
