<table class="table table-dark">
    <thead>
        <th>Member Name</th>
        <th>Position</th>

    </thead>
    <tbody>
        <tr>
            <td>Tom Hanks</td>
            <td>Analyst</td>
        </tr>
        <tr>
            <td>Leonado DiCaprio</td>
            <td>Scrum Master</td>
        </tr>
        <tr>
            <td>Emma Stone</td>
            <td>Developer</td>
        </tr>
        <tr>
            <td>Meryl Streep</td>
            <td>Lead Developer</td>
        </tr>
        <tr class="text-primary">
            <td>Team Size: 4</td>
            <td>Averge Velocity: 7</td>
            <td>Velocity Trend: 52</td>
        </tr>
    </tbody>
</table>
<!-- 
    Angular Popovers https://ng-bootstrap.github.io/#/components/popover/examples 

    <tr placement="top" ngbPopover="Test 1" popoverTitle="Title" triggers="mouseenter:mouseleave">
            <td>Tom Hanks</td>
            <td>Analyst</td>
        </tr>
-->