<h1 class="text-center">Team XYZ</h1>
<div class="section-container">
    <div class="cards">
        <!-- Example card Deck -->
        <div class="card-deck">
            <!-- Example Card -->
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme text-center">
                    <h5>PI-Burndown</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
            <!-- End Card -->

            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme text-center">
                    <h5>PI-Something</h5>
                </div>
                <div class="card-body">
                    <app-line-chart></app-line-chart>
                </div>

            </div>
        </div>
        <!-- End Card Deck -->
        <div class="card-deck">
            <div class="card mb-3 shadow card-theme">
                <div class="card-header card-header-theme text-center">
                    <h5>Story Status</h5>
                </div>
                <div class="card-body">
                        <app-story-status></app-story-status>
                </div>
            </div>
        </div>
    </div>
</div>