<!-- 
    Team XYZ will be a carsouel on rotation between teams, but we will have each teams stats rotate as well 
    display 3-8 charts at a time and have a timer rotate them NOTE: team rotation vs tile rotation must be properly timed to offset 
-->
<div class="section-container">
    <ngb-carousel #carousel interval="10000" [showNavigationArrows]="false">
        <!------------------------------- Slide 1 ------------------------------->
        <ng-template ngbSlide>
            <h1 class="text-center">Team 1</h1>
            <p class="text-center">Current Project: Big Business</p>
            <div class="cards">

                <!-- Card Deck 1 -->
                <div class="card-deck">

                    <!-- Team Attributes -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Meet the Team</h5>
                        </div>
                        <div class="card-body">
                            <app-team-attribs></app-team-attribs> <!-- Should embed a diffrent chart here -->
                        </div>
                    </div>

                    <!-- PI-Burndown -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>PI-Burndown</h5>
                        </div>
                        <div class="card-body">
                            <app-pi-burndown></app-pi-burndown>
                        </div>
                    </div>

                    <!-- Test Case Creation -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Test Case Creation</h5>
                        </div>
                        <div class="card-body">
                            <app-test-case-creation></app-test-case-creation>
                        </div>
                    </div>
                </div>

                <!-- Card Deck 2 -->
                <div class="card-deck">
                    <!-- Story Status -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Story Status</h5>
                        </div>
                        <div class="card-body">
                            <app-story-status></app-story-status>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- The next template will be Team 2 -->

        <!------------------------------- Slide 2 ------------------------------->
        <ng-template ngbSlide>
            <h1 class="text-center">Team 2</h1>
            <p class="text-center">Current Project: Big Business</p>
            <div class="cards">
                <!-- Card Deck 2 -->
                <div class="card-deck">
                    <!-- Story Status -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Story Status</h5>
                        </div>
                        <div class="card-body">
                            <app-story-status></app-story-status>
                        </div>
                    </div>
                </div>
                <!-- Card Deck 1 -->
                <div class="card-deck">

                    <!-- Team Attributes -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Meet the Team</h5>
                        </div>
                        <div class="card-body">
                            <app-team-attribs></app-team-attribs> <!-- Should embed a diffrent chart here -->
                        </div>
                    </div>

                    <!-- PI-Burndown -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Velocity</h5>
                        </div>
                        <div class="card-body">
                            <app-velocity></app-velocity>
                        </div>
                    </div>

                    <!-- Test Case Creation -->
                    <div class="card mb-3 shadow card-theme">
                        <div class="card-header card-header-theme text-center">
                            <h5>Test Case Creation</h5>
                        </div>
                        <div class="card-body">
                            <app-test-case-creation></app-test-case-creation>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>